/* --------------------------------- GENERAL STYLES ------------------------------- */

html {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    overflow-y: scroll;
}


form#adminForm {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}

div#headingContainer h1#heading {
    text-align: center;
    font-family: "Dorsa", sans-serif;
    font-size: 70px;
    font-weight: 300;
    color: #FFF;
    padding: 5px;
    margin: 0;
}

div#headingContainer {
    width: 100%;
}

span#pageTitle {
    font-family: "Dorsa", sans-serif;
    font-size: 65px;
    margin: 10px;
}

div#nav {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 20%;
    background-color: #000;
    top: 0;
    left: 0;
    border-right: 2px solid rgba(147, 62, 197, 0.8);
}

div#topContainer {
  display: none;
}

ul.navUl {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}

li.navLi {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    width: 100%;
}

li.navLi a:link, li.navLi a:visited {
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
    font-family: "Dorsa", sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding: 5px 5px;
    margin: 5px;
}

li.navLi a:hover {
    animation-name: ahover;
    transition: all 0.5s ease;
    color: #9f64c4;
}

@keyframes ahover {
    from {
        color: #FFF;
    } to {
        color: #9f64c4;
    }
}

div#mainContainer{
    position: relative;
    left: 20%;
    top: 0;
    text-align: left;
    margin: 10px;
    width: 75%;
}

div#infoContainer {
    margin: 10px;
}

div#infoContainer p.contentPara {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

table#usersTable{
    margin: 10px;
}

th.tableHeading {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 4px;
}

td.tableData {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 4px;
}

td.tableData, th.tableHeading {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-collapse: collapse;
}

a.tableAnchor:link, a.tableAnchor:visited {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    margin: 10px;
    color: #838bc4;
    line-height: 20px;
}

a.tableAnchor:hover {
    animation-name: ahover2;
    transition: all 0.5s ease;
    color: #9f64c4;
    cursor:pointer;
}

@keyframes ahover2 {
    from {
        color: #838bc4;
    } to {
        color: #9f64c4;
    }
}

form#signUpForm {
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

input.loginSubmit {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background-color: #FFF;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}

input.loginInput {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 16px;
    padding: 1px;
}

input.formInput {
    max-width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgba(0,0,0,0.8);
    padding: 4px;
    border: none;
}

button.formSubmit {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 3px 5px;
    margin-left: 10px;
}

div#mceu_21 {
    width: 96.5% !important;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.5);
}

span.mce-txt {
    font-family: "Raleway", Helvetica !important;
}

.mce-menu-item .mce-text, .mce-menu-item .mce-text b {
    font-family: "Raleway", Helvetica !important;
}

a.accountAnchor:link, a.accountAnchor:visited {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #838bc4;
}

a.accountAnchor:hover {
    animation-name: ahover2;
    transition: all 0.5s ease;
    color: #9f64c4;
    cursor:pointer;
}

form#pagesForm {
    margin: 10px;
}

table#pagesTable th {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 6px 6px 6px 0 !important;
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

table#pagesTable td, form#pagesForm input {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 6px 6px 4px !important;
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

form#pagesForm input {
    font-size: 16px;
    padding: 2px !important;
    border: none;
    background-color: #fff;
}

form#pagesForm textarea {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding: 2px;
    line-height: 17px;
    border: none;
}

form#pagesForm p{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
}

form#blogContentForm, form#pageContentForm {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin:5px 0 5px 10px;
}

form#blogContentForm input, form#pageContentForm input {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 2px;
}

p.menuPara {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

div#menusContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.menuContainer {
  width: 48%;
}

div.menuContainer table {
  margin-left: 10px;
}

input.menuSubmit {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #FFF;
  margin: 10px 0;
  border: 1px solid rgba(0,0,0,0.5) !important;
}

a.mobileMenu {
    display: none;
    z-index: 10;
}

div#anchorContainer {
  padding: 10px 0;
}

/* -------------------------------- MOBILE OPTIMISATION + RESPONSIVE DESIGN ------------------------------- */
@media screen and (max-width: 1100px){
  div#nav {
    width: 25%;
  }

  div#headingContainer h1#heading{
    font-size: 60px;
  }

  li.navLi a:link, li.navLi a:visited {
    font-size: 45px;
  }

  div#mainContainer {
    left: 25%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 900px){
  div#topContainer {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    max-height: 5em;
  }

  div#logoContainer {
    margin: auto;
    display: flex;
    max-height: 5em;
    text-align: center;
  }

  div#logoContainer a.headerAnchor img {
    max-height: 100%;
  }

  div#nav{
    width: 0%;
    transition: all 0.5s ease;
    z-index: 1;
  }

  div#headingContainer h1#heading {
    display: none;
  }

  ul.navUl {
    position: relative;
    top: 10%;
  }

  li.navLi a:link, li.navLi a:visited {
    font-size: 45px;
  }

  div#phoneNavContainer {
      width: 40px;
      height: 40px;
      position: fixed;
      top: 20px;
      left: 20px;
  }

  a.mobileMenu {
      display: initial;
      width: 100%;
      height: auto;
      border-radius: 10px;
  }

  img.mobileNavMenuIcon {
      width: 100%;
      height: auto;
      overflow:hidden;
      border-radius: 5px;
  }

  div#mainContainer {
    max-width: 100%;
    width:100%;
    left: 0;
    margin: 20px auto;
    overflow-x: scroll;
  }

  div#headingContainer, div#titleContainer {
    text-align: center;
  }

  div#infoContainer {
    text-align: center;
  }

  table#usersTable {
    margin: 10px auto;
  }

  div#anchorContainer {
    text-align: center;
  }
  div#menusContainer {
    display: inline-block;
    max-width: 100%;
  }
  div.menuContainer {
    width: 100%;
  }
}

@media screen and (max-width: 450px){
  div#phoneNavContainer {
      width: 35px;
      height: 35px;
      position: fixed;
      top: 20px;
      left: 20px;
  }
}

@media screen and (max-height: 450px){ /** height optimisation for mobile devices viewing in landscape orientation **/
  div#phoneNavContainer { /* iphone 6/7/8, 6/7/8 plus, X, ipad + ipad Pro -- Samsung Galaxy S5, A5 2015, 2017 -- Google Pixel 2, Pixel 2 XL**/
      width: 35px;
      height: 35px;
      position: fixed;
      top: 10px;
      left: 10px;
  }

  li.navLi a:link, li.navLi a:visited {
    font-size: 40px;
  }
}

@media screen and (max-height: 350px){/** iphone 5/SE **/
  div#topContainer {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    max-height: 5em;
  }

  div#logoContainer {
    margin: auto;
    display: flex;
    max-height: 5em;
    text-align: center;
  }

  li.navLi a:link, li.navLi a:visited {
    font-size: 35px;
  }
}
